@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

body {
  background: grey;
}
#grid {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  width: 45vw;
  height: 45vw;
  grid-gap: 1px;
  background: black;
}
